<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecom4.green.imgur.dao.ImgurDAO">

    <select id="selectMaxGroupId" resultType="int">
          select NVL(max(group_id),1) from image
    </select>

    <insert id="insertImageList" parameterType="list">
        <selectKey keyProperty="group_id" resultType="int" order="BEFORE">
            SELECT NVL(MAX(group_id), 0) + 1 FROM image
        </selectKey>
        BEGIN
        <foreach item="imgurDTO" collection="list" separator=" ">
            INSERT INTO image (id, path, group_id, imgur_id)
            VALUES (auto_image_id.NEXTVAL, #{imgurDTO.path}, #{group_id}, #{imgurDTO.imgur_id});
        </foreach>
        END;
    </insert>





    <select id="selectImageList" resultType="imgurDTO">
        select id,group_id,path,imgur_id
        from image
        where group_id = #{group_id}
    </select>
    <delete id="deleteImageList">
        delete from image
        where group = #{group_id}
    </delete>

    <select id="selectImageAll" resultType="imgurDTO">
        select *
        from image;
    </select>

</mapper>