<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecom4.green.user.dao.CartDAO">
	<!-- 카트삭제 -->
	<delete id="deleteCart" parameterType="cartDTO">
		delete from cart
		where sale_id = #{sale_id} and product_id = #{product_id}
		and user_id = #{user_id}
	</delete>
	<!-- 카트 수량수정 -->
	<update id="updateCart" parameterType="cartDTO">
		update cart set quantity = #{quantity}
		 where sale_id = #{sale_id} and product_id = #{product_id}
		 and user_id = #{user_id}
	</update>	
	<!-- 카트목록 -->
	<select id="selectCartList" parameterType="String" resultType="cartDTO">
		select user_id, product_id, quantity, sale_id, store_name
		from cart
		where user_id = #{user_id}
	</select>
	<!-- 카트확인 -->

    <insert id="insertCart" parameterType="list">
        BEGIN
        <foreach collection="list" item="cartDTO" separator=" ">
            insert into cart (user_id,product_id,sale_id,quantity,store_name)
            values (#{user_id},#{cartDTO.product_id},#{cartDTO.sale_id},#{cartDTO.quantity},#{cartDTO.store_name});
        </foreach>
        END;
    </insert>

    <select id="checkDuplication" parameterType="int" resultType="int">
        select count(*) as cnt
        from cart
        where sale_id = #{sale_id}
    </select>
    <delete id="deleteCartByOrderItem" parameterType="map">
    	delete from cart
    	where sale_id = #{map.sale_id}
    	and product_id = #{map.product_id}
    </delete>
</mapper>