@charset "UTF-8";
#pList_box *{
	margin: 0;
	padding: 0;
}
#pList_table{
	width: 1000px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-family: fantasy;
}
#productList_main_box{
	width: 1050px;
	text-align: center;
	padding: 0 25px;
}
#del_btn{
	text-align: right;
}
#del_btn input{
	width: 80px;
	height: 30px;
	background-color: white;
	border: 1px solid black;
	border-radius: 5px;
}

#del_btn input:hover{
	background-color: #BDB181;
	color: white;
}
#del_btn input:active {
	color: black;
}