<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ecom4.green.merchant.dao.SaleDAO">
	<select id="getSaleList" parameterType="RequestPageList" resultType="saleDTO">
        SELECT s.id
        , s.title
        , s.content
        , s.status
        , s.discount
        , s.started_at
        , s.ended_at
        , s.create_at
        , s.image_id
        , s.merchant_id
        , s.category_code
        , s.region_code
        FROM sale s
        JOIN merchant m ON s.merchant_id = m.id
        <where>
            <if test="data.category != null and data.category != ''">
                AND s.category_code LIKE '%' || #{data.category} || '%'
            </if>
            <if test="data.keyword != null and data.keyword != ''">
                AND s.title LIKE '%' || #{data.keyword} || '%'
            </if>
            <if test="data.store_name != null and data.store_name != ''">
                AND m.store_name = #{data.store_name}
            </if>
        </where>
        OFFSET #{pageable.offset} ROWS FETCH NEXT #{pageable.pageSize} ROWS ONLY
    </select>


    <select id="getSaleListCount" parameterType="map" resultType="int">
        SELECT COUNT(*) AS CNT
        FROM sale
        <where>
            <if test="map.category != null and map.category != ''">
                AND category_code LIKE '%' || #{map.category} || '%'
            </if>
            <if test="map.keyword != null and map.keyword != ''">
                AND title LIKE '%' || #{map.keyword} || '%'
            </if>
        </where>
    </select>
</mapper>