#open_switch {
  left: -20px;
}

#open_box header span {
  margin-top: 2rem;
}

#open_box button {
  left: -43px;
}
#right_wing {
  border-width: 2px;
  border-style: solid;
}

#aside_arrow {
  top: 40%;
  left: 20px;
}
