#coupon_banner {
  background-color: rgb(147, 112, 98);
}
#coupon_banner #coupon_contents {
  font-size: 13px;
  color: white;
  line-height: 30px;
}
#header_popup #logo a {
  color: rgb(147, 112, 98);
}
nav#top_menu {
  display: inline-grid;
  grid-auto-flow: column;
  column-gap: 20px;
  align-items: center;
  margin: 2rem 1rem 0 0;
}

div#icons {
  margin-right: 1rem;
}
div#icons a {
  padding-right: 2rem;
}

div#icons a span {
  font-size: 13px;
  height: 40px;
  line-height: 43px;
}

/* nav 스토어 레시피 키친가이드 큐레이션 이벤트 */
#top_menu {
  font-weight: bold;
}
#top_menu a {
  text-decoration: none;
  display: block;
}
#top_menu a {
  position: relative;
  display: inline-block;
  height: 40px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
#top_menu a::after {
  position: absolute;
  content: "";
  display: block;
  border-bottom: 2px solid #000;
  transition: width 250ms ease-out;
  left: auto;
  right: 0;
  width: 0;
}

#top_menu a::before {
  content: none;
}
#top_menu a:hover::after {
  width: 100%;
  left: 0;
  right: auto;
}

.logo-container {
  text-align: center;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.logo {
  color: #333;
  font-size: 2em;
  font-weight: bold;
}

.logo-accent {
  color: #90ee90;
}

#search input {
  border: 0;
  appearance: none;
}
#search input:focus {
  outline: none;
}

#logo {
  position: absolute;
  top: 8px;
}
#search {
  position: absolute;
  top: 20px;
}

#icons {
  position: absolute;
  top: 25px;
}
