@charset "UTF-8";
#info th, #info td, #info tr {
	border: solid 1px #dddddd;
	width: 300px;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
}

#product_detail {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#product_detail h3 {
    margin-top: 0;
    color: #333;
    font-size: 24px;
}

#product_detail .org_price {
    color: #999;
    text-decoration: line-through;
}

#product_detail .dis_price {
    color: #e60023;
    font-size: 20px;
    margin-bottom: 20px;
}

#product_detail select {
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ddd;
}

#product_detail div {
    margin-bottom: 20px;
}

#info {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

#info table {
    width: 100%;
    border-collapse: collapse;
}

#info table th,
#info table td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

#info table th {
    background-color: #f9f9f9;
    font-weight: bold;
}


/* #review_content span
{
	text-align: center;
	 overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box!important;
    -webkit-line-clamp: 10; 라인수
    height: 12em; 라인수에 맞춰 길이 정해줘야함
    -webkit-box-orient: vertical;
    word-wrap:break-word;
    line-height: 1.2em!important;
    padding: 3px!important;
}
 */