@charset "UTF-8";
*{
	margin: 0 auto;
	padding: 0;
}
#product_return_first{
	width: 800px;
	height:500px;
	margin-top: 50px;
/* 	border: 1px solid black; */
/* 	border-radius: 8px; */
	text-align: center;
}
#product_return_second{
	border-top: 2px solid #efefef;
	border-right : 2px solid #efefef;
	border-left: 2px solid #efefef;
	border-radius: 8px 8px 0 0px;
}
#product_return_ol{
	padding: 12px 10px;
}
.product_return_choice{
	display: inline;
}
.product_return_block{
	width: 650px;
	height: 300px;
	display: block;
	position: relative;
}
#product_return_check_div{
	background-color: #efefef;
	border-radius: 0 0px 8px 8px;
	height: 400px;
}
.product_return_checkbox{
	display: block;
	width: 35px;
	height: 35px;
	margin-top: 60px;
	margin-left: 50px;
	position: absolute;
}
.product_return_check_product_select_h3{
	text-align: left;
	background-color: #efefef;
	margin-bottom: 20px;
	padding-top: 20px;
}
#product_return_check_data_box{
	background-color: white;
	border-radius: 8px;
	height: 200px;
}
#product_return_check_check_img{
	display: inline-block;
	margin-right: 40px;
	margin-top: 30px;
}
#product_return_check_textarea{
	resize: none;
	margin-bottom: 10px;
}
#product_return_check_next{
	width: 650px;
	height: 30px;
	color: white;
	margin-top: 40px;
	background-color: blue;
}


#product_return_problem_data_box{
	background-color: white;
	border-radius: 8px;
}
#product_return_problem{
	text-align: left;
}
#product_return_problem > div{
	padding-left: 30px;
}
#product_return_problem  div  hr{
	margin-left: -30px;
}





















