@charset "EUC-KR";
.login_Box {
	text-align: center;
	margin: 20px auto;
	padding: 20px;
	width: 500px;
	height: 600px;
<<<<<<< Updated upstream
/* 	border: solid 1px #dddddd; */
=======
	border: solid 1px #dddddd;
>>>>>>> Stashed changes
	
}
h1#title{
	margin: 2rem 0 2rem 0;
	text-align: center;
	
}
#kakao {
<<<<<<< Updated upstream
	margin-bottom: 2rem;	
}
#ngf{
	margin-bottom: 3rem;
}

=======
	margin-bottom: 3rem;	
}
>>>>>>> Stashed changes
#login_inp{
	margin-bottom: 1rem;
}

#login_inp input{
	margin-top: 1rem;
	height: 3rem;
	font-size: 18px;
	background-color: none;
	border-top: 0 solid black;
	border-left: 0 solid black;
	border-right: 0 solid black;
}

#login_btn input {
	width: 12rem;
	height: 3rem;
	margin-bottom: 1rem;
	background-color: white;
	border: 1px solid #eeeeee;
	border-radius: 35px;
}

input::placeholder{
	color: #e3e3e3;
}
#check{
	width: 500px;
	margin: 0 0 2rem 2rem;
	text-align: left;
	color: #e3e3e3;
	font-size: 12px;
}
