<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<!-- aliaes - short name setting bvo, pvo-->
    <typeAliases>
         <typeAlias alias="hashMap" type="java.util.HashMap" />
         <typeAlias alias="map" type="java.util.Map" />
		<typeAlias alias="RequestPageList" type="com.ecom4.green.data.RequestPageList"/>
		<typeAlias alias="productDTO" type="com.ecom4.green.merchant.dto.ProductDTO"/>
		<typeAlias alias="merchantDTO" type="com.ecom4.green.merchant.dto.MerchantDTO"/>
		<typeAlias alias="saleDTO" type="com.ecom4.green.merchant.dto.SaleDTO"/>
		<typeAlias alias="userDTO" type="com.ecom4.green.user.dto.UserDTO"/>
		<typeAlias alias="imgurDTO" type="com.ecom4.green.imgur.dto.ImgurDTO" />
		<typeAlias alias="saleProductDTO" type="com.ecom4.green.merchant.dto.SaleProductDTO" />
		<typeAlias alias="cartDTO" type="com.ecom4.green.user.dto.CartDTO" />
     </typeAliases>
</configuration>
